html {
}

body {
    margin-left:10%;
    margin-right:10%;
}

.jumbotron {
    background: rgba(190,49,26,0.2);
}

hr {
    color: #be311a;
    background-color: #be311a;
    border-color: #be311a;
}

ol li {
    margin: 5px 0;
}

ol li:first-child {
    margin: 0px 0;
}

ul {
    list-style-type: circle;
}

.navbar ul li a {
    color: black;
}
